.wrapper {

}

.wrapper_text{
    display: block;
    position: relative;
    left: 400px;
    bottom: 300px;
    font-size: 30px;
}

.character {
    width: 1000px;
    height: 500px;
    background-color: #5EC4CD;
    margin: 10px;
    padding: 10px;
    color: white;
}

.character .img {
    width: 350px;
}
.character .img img{
    width: 100%;
}

.title{
    color:black;
}