@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    height: 100px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .link {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.navbar .activeLink {
    color: gold;
}